<h1>¡Bienvenido a Twitter!</h1>
<h2>Haz clic en alguno de los siguientes enlaces para continuar</h2>
<br>


<%= link_to 'Ver los tweets', tweets_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Agregar un tweet', new_tweet_path, class: 'btn btn-primary btn-lg' %>


